# db_connection
spring.datasource.url=jdbc:mysql://localhost:3306/alliance_bot
spring.datasource.username=root
spring.datasource.password=root

# Telegram config
telegram.bot.token=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11
telegram.bot.username=UsernameOfYourBot
telegram.bot.admin=111111111 # your telegram-id
telegram.chatwars.id=408101137
telegram.webhook.url=https://your.domain.adress/
telegram.certificate=classpath:certificate.pem
admin-panel.url=https://your.domain.adress/

# Enable ssl
server.ssl.key-store-type=PKCS12
server.ssl.key-store=classpath:keystore.p12
server.ssl.key-store-password=password
server.ssl.key-alias=keystore
server.ssl.enabled=true
